<h2>{{title}}</h2>
<a href="/product/create">Crear producto</a>
<div
  style="display: flex;
    flex-wrap: wrap;
    gap: 15px;"
>
{{!-- La forma de iterar es con #each --}}
  {{#each products}}
    <div
      style="border: solid black;
    text-align: center;
    padding: 20px;
    max-width: 22%;
    box-sizing: border-box;"
    >
      <p>{{name}} </p>
      <p>{{price}} </p>
      <p>{{description}} </p>
      <p> 
        {{#if (eq status "NOT AVAILABLE")}} 
            No disponible
          {{else if (eq status "AVAILABLE")}}
            Disponible
          {{else if (eq status "DISCONTINUED") }}
            Descontinuado
            {{else}}
                {{status}}
          {{/if}} 
          </p>
      <p>{{category.name}} </p>
      <p>{{stock}} </p>
      {{#if highlighted}}
        <p> Producto destacado </p>
      {{else}}
        <p> Producto no destacado </p>
      {{/if}}
      <a href="/product/update/{{_id}}">Editar</a>
      <form action="/product/delete/{{_id}}?_method=delete" method="POST" >
      <button type="submit" onclick="return confirm('¿Estas seguro de que queres eliminar el producto {{name}}?')" > Borrar producto </button>
      </form>
    </div>
  {{/each}}
</div>