 <h1>{{title}}</h1> 
<form action="/product/update/{{product._id}}?_method=patch" method="post" >
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" value="{{product.name}}">
    <br>
    <label for="price">Precio</label>
    <input type="text" id="price" name="price" value="{{product.price}}">
    <br>
    <label for="profitRate">Rango de ganancia</label>
    <input type="text" id="profitRate" name="profitRate" value="{{product.profitRate}}">
    <br>
    <label for="description">Descripcion</label>
    <textarea id="description" name="description">{{product.description}}</textarea>
    <br>
    {{!-- hacer llamado al endpoint de status para traer los estados posibles --}}
    <label for="status">Estado</label>
    <select name="status" id="status">
        <option value="AVAILABLE" {{#if (eq product.status "AVAILABLE")}}selected{{/if}}>Disponible</option>
        <option value="NOT AVAILABLE" {{#if (eq product.status "NOT AVAILABLE")}}selected{{/if}}>No disponible</option>
        <option value="DISCONTINUED" {{#if (eq product.status "DISCONTINUED")}}selected{{/if}}>Descontinuado</option>
    </select>
    <br>

    <label for="category">Categoria</label>
    <select name="category" id="category">
        {{#each categories}} <option value="{{_id}}" {{#if (eq (toString _id) (toString ../product/category._id) )}} selected {{/if}}>{{name}}</option>
         {{/each}}
    </select>

    <br>
    <label for="highlighted">Destacado</label>
    <select name="highlighted" id="highlighted">
        <option value="" disabled selected > Seleccionar </option>
        <option value="true" {{#if (eq product.highlighted true)}} selected {{/if}}> Destacado </option>
        <option value="false" {{#if (eq product.highlighted false)}} selected {{/if}}> No Destacado </option>
    </select>
    <br>
    <button type="submit">Enviar</button>
    <br>
    <a href="/product/">Ver productos</a>
</form>